# 🔑 API Keys
OPENWEATHER_API_KEY=your_openweather_api_key_here

# 🌍 MongoDB Configuration
MONGO_URI=mongodb://weather-mongo:27017
MONGO_DB_NAME=weather_db
MONGO_COLLECTION_NAME=weather_history

# 🧠 gRPC Security
GRPC_API_KEY=super-secret-key

# ⚙️ Cache Settings
CACHE_TTL_SECONDS=300

# 🔌 Internal Networking
GRPC_SERVER_ADDRESS=weather-grpc-server:50051
